{% extends "base.html" %}
{% block content%}
<div class='text-center'>
<h1>{{title}}</h1>
<p>this is going very well ! </p>
</div>
<div class='container' class="card-holder card bg-news">
   <div class='row'>
     <div class='col-sm-6 col-12'>
       <form method="POST" id = "Form"> {% csrf_token %}
            {{ form }}

             <button type="submit" class="btn btn-primary">Submit</button>
       </form>


        <!-- <form method="POST"> {% csrf_token %}
              <input type='text' class='form-control' placeholder='Name' name='fullname'>
              <input type='email' class='form-control' placeholder='Email' name='email'>
              <textarea name='content' class='form-control' placeholder='Your content'></textarea>

              <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->
     </div>
   </div>
</div>
{% endblock%}
